system_params.header.seq 19996
system_params.protocol_version 20180805
system_params.firmware_version 20180210
system_params.timer_period_ms 10
system_params.comm_speed 115200
system_params.comm_cycles 1
system_params.periodic_packet_mask 15
system_params.watchdog_cycles 100
system_params.num_motors 2
joint_params.header.seq 10497
joint_params.joints[0].kp 255
joint_params.joints[0].ki 32
joint_params.joints[0].kd 0
joint_params.joints[0].max_i 255
joint_params.joints[0].max_pwm 255
joint_params.joints[0].min_pwm 0
joint_params.joints[0].max_speed 100
joint_params.joints[0].slope 10
joint_params.joints[0].h_bridge_type 0
joint_params.joints[0].h_bridge_pins[0] 9
joint_params.joints[0].h_bridge_pins[1] 8
joint_params.joints[0].h_bridge_pins[2] -1
joint_params.joints[1].kp 255
joint_params.joints[1].ki 32
joint_params.joints[1].kd 0
joint_params.joints[1].max_i 255
joint_params.joints[1].max_pwm 255
joint_params.joints[1].min_pwm 0
joint_params.joints[1].max_speed 100
joint_params.joints[1].slope 10
joint_params.joints[1].h_bridge_type 0
joint_params.joints[1].h_bridge_pins[0] 3
joint_params.joints[1].h_bridge_pins[1] 2
joint_params.joints[1].h_bridge_pins[2] -1
drive_params.header.seq 52
drive_params.ikr -10000.00000
drive_params.ikl 10000.00000
drive_params.baseline 0.40500
drive_params.right_joint_index 0
drive_params.left_joint_index 1
drive_params.max_translational_velocity 1.00000
drive_params.max_translational_acceleration 3.00000
drive_params.max_translational_brake 4.00000
drive_params.max_rotational_velocity 2.00000
drive_params.max_rotational_acceleration 15.00000
sonar_params.pattern[0] 10
sonar_params.pattern[1] 20
sonar_params.pattern[2] 30
sonar_params.pattern[3] 40
sonar_params.pattern[4] 10
sonar_params.pattern[5] 20
sonar_params.pattern[6] 30
sonar_params.pattern[7] 40
